@import "../../mixins"

.orangeWhite
  @include buttonStyle(#F99746, 10px, 6px 24px)
  @include textStyle(0.833em, 600, #FFFFFF)

.blueWhite
  @include buttonStyle(#1E3CA9, 10px, 6px 24px)
  @include textStyle(0.833em, 600, #FFFFFF)

.orangeBlack
  @include buttonStyle(#F99746, 10px, 6px 24px)
  @include textStyle(0.833em, 600, #000000)
  position: relative

.navigate
  @include buttonStyle(transparent, 0, 4px 4px)
  @include textStyle(1em, 600, #000000)

  &:disabled
    opacity: 0.5
    cursor: default

.edit
  @include buttonStyle(transparent, 0, 0)
  display: inline-flex

.close
  @include buttonStyle(transparent, 0, 0)
  display: inline-flex
  position: absolute
  top: 20px
  right: 20px

.increment
  @include buttonStyle(transparent, 0, 0)
  display: inline-flex
  position: absolute
  top: 10px
  right: 7px

  &:disabled
    opacity: 0.5

.decrement
  @include buttonStyle(transparent, 0, 0)
  display: inline-flex
  position: absolute
  bottom: 10px
  right: 7px

  &:disabled
    opacity: 0.5

