@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

#root{
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

button {
    border: 0;
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 440px) {
    #root {
        font-size: 10px;
    }
}